<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SOME MARTIAN TSUFF</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="mars_style.css">

</head>

<body>


  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mars Data</h1>
     <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Mars Data</a></p>
    </div>

    <div class="row">
        <div class="col-12">
          <h2>{{ marsweb.newsTitle }}</h2>
          <br>
          <p>{{ marsweb.newsPara }}</p>
    </div>

    <div class="row">
      <div class="col">
        <h2>Featured Mars Image </h2>
        <img src="{{ marsweb.articlePic }}" width="600" height="600" alt="Today's Picture">
      </div>
      <div class="col">
         <br>
         <b> Here's my table code that I can't figure out how to format </b> <br>
        <{{marsweb.webTable}}>
      </div>
    </div>
    <div class = "row">
       <p></p> <b> Today the weather on Mars is: </b> 
          {{marsweb.marsWeather}}</p>      
      <div> 
  </div>
    </div>
      <div class = "row">
          <p> <b>Here's my list of hemispheres </b>
              {{ marsweb.hemImages }} 
            </p>      
        <div> 
    </div>


        </div>
    </div>


</body>

</html>


